@{
    var showHeader = (bool?)ViewBag.ShowHeader ?? true;
    var showBanner = (bool?)ViewBag.showBanner ?? false;
    var userIdentity = User?.Identity?.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Illuminati Agency</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HackMe.styles.css" asp-append-version="true" />
</head>
<body>
    @if (showHeader)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="AboutUs" asp-action="Index">
                        <img src="~/navbar.webp" width="30" height="30" class="d-inline-block align-top" />
                        Illuminati Agency
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-controller="AboutUs"
                                   asp-action="Index">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" 
                                    asp-controller="Profile" 
                                    asp-action="Index"
                                   asp-route-codeName="@userIdentity">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-controller="Missions"
                                   asp-action="Index">Missions</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Tasks" asp-action="Index" title="Challenges">Challenges</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    
    <div class="container">
        @if (showBanner)
        {
            <div class="alert alert-success" role="alert">
                <p>
                    Congratulations for completing a challenge!
                    <a asp-controller="Tasks" asp-action="Index" title="Tasks" class="alert-link">Check out your progress.</a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </p>
            </div>
        }
       
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Illuminati Agency
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
