@{
    ViewData["Title"] = "Welcome!";
}

<div class="site-content">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-8 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img class="mb-4" src="~/illuminati-logo.jpg" alt="" height="400">
        </div>
    </div>
    <hr class="featurette-divider">
</div>