@model IEnumerable<NewsViewModel>
@{
    ViewData["Title"] = "News";
}

<div class="site-content">
    @foreach (var item in Model)
    {
        <div class="card">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                @if (item.IsClassified)
                {
                    <span class="text-body-secondary">Classified</span>
                }
                <p class="card-text">@item.Description</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>