@model LoginViewModel
@{
    ViewData["Title"] = "Welcome to Illuminati agency";
}

<div class="container">
    <main class="form-signin w-100 m-auto">
        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            <img class="mb-4" src="~/illuminati-logo.jpg" alt="" height="150">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input asp-for="CodeName" class="form-control" required placeholder="Code name" />
                <label asp-for="CodeName">Codename:</label>
            </div>
            <div class="form-floating">
                <input asp-for="Password" type="password" class="form-control" required placeholder="Password" />
                <label asp-for="Password">Password:</label>
            </div><br />
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            
            @if (!String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <hr class="my-4">
                <div class="text-danger">@Model.ErrorMessage</div>
            }
        </form>
    </main>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}